@page
@using RazorPages.Pages
@using System
@model Chat

@{
    Layout = "_Layout";


}
@if (TempData.ContainsKey("UserName") && TempData.ContainsKey("UserImg"))
{

    try
    {
        
        var nome = (string) TempData["UserName"];
        var img = (string)TempData["UserImg"];

    if(nome != null)
    {
                <h2>Bem vindo, @nome, @img!</h2>
                <img src="58c77657-87b7-42cc-ab38-75c7802b8308.jpg" alt="user-img">
    }
    else
    {
        <h2>Nome nulo</h2>
    }
    }
    catch (Exception e)
    {
        
    }


}


<div class="container">
    <div>
        <ul id="messageList"></ul>
    </div>
<div class="messageRow">
<fieldset>

    <form method="get">
    <input type="text" id="message" placeholder="Digite sua mensagem">
    <input type="submit" id="EnviarMessagem" value="Enviar"/>
    </form>

</fieldset>
</div>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/chat.js"></script>
} 