@page
@using RazorPages.Pages
@model Login
@{
    Layout = "_Layout";
}

    <form class="EntryForm" method="post" enctype="multipart/form-data">

    <fieldset>
        <legend>Insira seu nome aqui</legend>
        <input type="text">
        <br>
        <input type="file"/>
        <div>
         @Html.AntiForgeryToken()
        <input class="SubmitButton" type="submit" name="entrar">
        </div>
     </fieldset>
 </form>