@page
@using RazorPages.Pages
@model Login

@{
    Layout = "_Layout";
}

    <form class="EntryForm" method="post" enctype="multipart/form-data">
        
    <fieldset>
        <legend>Insira seu nome aqui</legend>
        <input type="text" asp-for="Us.Nome">
        <br>
        <input type="file" asp-for="Us.img.ImageFile"/>
        <div>
         @Html.AntiForgeryToken()
        <input class="SubmitButton" type="submit" name="entrar">
        </div>
     </fieldset>
 </form>