@page

<div class="container">
    <div>
        <ul id="messageList"></ul>
    </div>
<div class="messageRow">
<fieldset>
    <img src="" alt="user-img">
    <form action="post">
    <input type="text" id="message" placeholder="Digite sua mensagem">
    <input typer="button" id="EnviarMessagem" value="Enviar"/>
    </form>

</fieldset>
</div>
</div>
<script src="~/js/signalr/signalr.min.js"></script>
<script src="~js/chat.js"></script>