

        <form class="EntryForm" method="post">

    <fieldset>

        <legend>Insira seu nome aqui</legend>
        <input type="text" name="nomeUsuario" id="nomeUsuario">
        <br>
        <input type="file" name="image" id="image"/>
        <div>
        <input class="SubmitButton"type="submit" name="entrar">
        </div>
     </fieldset>
 </form>